USE [PAYMENT_SYSTEM]
GO
/****** Object:  Table [dbo].[INVOICE]    Script Date: 24.02.2021 21:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICE](
	[INVOICE_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUBSCRIBER_ID] [int] NOT NULL,
	[SUBSCRIPTION_ID] [int] NOT NULL,
	[INVOICE_AMOUNT] [int] NOT NULL,
	[CUT_OFF_DATE] [datetime] NOT NULL,
	[FINAL_PAYMENT_DATE] [datetime] NOT NULL,
	[PAID] [bit] NOT NULL,
	[INSERT_USER] [nvarchar](50) NOT NULL,
	[INSERT_DATE] [datetime] NOT NULL,
	[UPDATE_USER] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_INVOICE] PRIMARY KEY CLUSTERED 
(
	[INVOICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OFFICER]    Script Date: 24.02.2021 21:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OFFICER](
	[OFFICER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_CODE] [nvarchar](50) NOT NULL,
	[USER_PASSWORD] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[SURNAME] [nvarchar](50) NOT NULL,
	[ACTIVE] [bit] NULL,
	[INSERT_USER] [nvarchar](50) NOT NULL,
	[INSERT_DATE] [datetime] NOT NULL,
	[UPDATE_USER] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_OFFICER] PRIMARY KEY CLUSTERED 
(
	[OFFICER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBSCRIBER]    Script Date: 24.02.2021 21:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBSCRIBER](
	[SUBSCRIBER_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUBSCRIBER_TYPE_ID] [int] NOT NULL,
	[IDENTIFICATION_TAX_NUMBER] [nvarchar](50) NOT NULL,
	[USER_PASSWORD] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[SURNAME] [nvarchar](50) NOT NULL,
	[SUBSCRIPTION_ID] [int] NOT NULL,
	[ACTIVE] [bit] NOT NULL,
	[INSERT_USER] [nvarchar](50) NOT NULL,
	[INSERT_DATE] [datetime] NOT NULL,
	[UPDATE_USER] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_SUBSCRIBER] PRIMARY KEY CLUSTERED 
(
	[SUBSCRIBER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBSCRIBER_TYPE]    Script Date: 24.02.2021 21:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBSCRIBER_TYPE](
	[SUBSCRIBER_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE_NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SUBSCRIBER_TYPE] PRIMARY KEY CLUSTERED 
(
	[SUBSCRIBER_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBSCRIPTION]    Script Date: 24.02.2021 21:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBSCRIPTION](
	[SUBSCRIPTION_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUBSCRIPTION_TYPE] [nvarchar](50) NOT NULL,
	[FINAL_PAYMENT_DAY] [nvarchar](2) NOT NULL,
	[DEPOSIT] [int] NULL,
	[INSERT_USER] [nvarchar](50) NOT NULL,
	[INSERT_DATE] [datetime] NOT NULL,
	[UPDATE_USER] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_SUBSCRIPTION] PRIMARY KEY CLUSTERED 
(
	[SUBSCRIPTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[INVOICE] ON 

INSERT [dbo].[INVOICE] ([INVOICE_ID], [SUBSCRIBER_ID], [SUBSCRIPTION_ID], [INVOICE_AMOUNT], [CUT_OFF_DATE], [FINAL_PAYMENT_DATE], [PAID], [INSERT_USER], [INSERT_DATE], [UPDATE_USER], [UPDATE_DATE]) VALUES (101, 10, 3, 80, CAST(N'2021-01-24T20:16:38.777' AS DateTime), CAST(N'2021-02-12T00:00:00.000' AS DateTime), 1, N'AUTO', CAST(N'2021-01-24T20:16:38.777' AS DateTime), N'AHMET YILMAZ', CAST(N'2021-02-24T20:19:21.590' AS DateTime))
INSERT [dbo].[INVOICE] ([INVOICE_ID], [SUBSCRIBER_ID], [SUBSCRIPTION_ID], [INVOICE_AMOUNT], [CUT_OFF_DATE], [FINAL_PAYMENT_DATE], [PAID], [INSERT_USER], [INSERT_DATE], [UPDATE_USER], [UPDATE_DATE]) VALUES (102, 10, 3, 80, CAST(N'2021-02-24T20:17:45.113' AS DateTime), CAST(N'2021-03-12T00:00:00.000' AS DateTime), 0, N'AUTO', CAST(N'2021-02-24T20:17:45.113' AS DateTime), NULL, NULL)
INSERT [dbo].[INVOICE] ([INVOICE_ID], [SUBSCRIBER_ID], [SUBSCRIPTION_ID], [INVOICE_AMOUNT], [CUT_OFF_DATE], [FINAL_PAYMENT_DATE], [PAID], [INSERT_USER], [INSERT_DATE], [UPDATE_USER], [UPDATE_DATE]) VALUES (103, 10, 3, 80, CAST(N'2021-03-24T20:18:30.300' AS DateTime), CAST(N'2021-04-12T00:00:00.000' AS DateTime), 0, N'AUTO', CAST(N'2021-03-24T20:18:30.300' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[INVOICE] OFF
GO
SET IDENTITY_INSERT [dbo].[OFFICER] ON 

INSERT [dbo].[OFFICER] ([OFFICER_ID], [USER_CODE], [USER_PASSWORD], [NAME], [SURNAME], [ACTIVE], [INSERT_USER], [INSERT_DATE], [UPDATE_USER], [UPDATE_DATE]) VALUES (1, N'MSTFZCN', N'123', N'MUSTAFA', N'ÖZCAN', 1, N'ADMIN', CAST(N'2021-02-18T23:15:35.360' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[OFFICER] OFF
GO
SET IDENTITY_INSERT [dbo].[SUBSCRIBER] ON 

INSERT [dbo].[SUBSCRIBER] ([SUBSCRIBER_ID], [SUBSCRIBER_TYPE_ID], [IDENTIFICATION_TAX_NUMBER], [USER_PASSWORD], [NAME], [SURNAME], [SUBSCRIPTION_ID], [ACTIVE], [INSERT_USER], [INSERT_DATE], [UPDATE_USER], [UPDATE_DATE]) VALUES (10, 1, N'12345678900', N'111', N'AHMET', N'YILMAZ', 3, 1, N'MSTFZCN', CAST(N'2021-02-24T20:04:51.223' AS DateTime), NULL, NULL)
INSERT [dbo].[SUBSCRIBER] ([SUBSCRIBER_ID], [SUBSCRIBER_TYPE_ID], [IDENTIFICATION_TAX_NUMBER], [USER_PASSWORD], [NAME], [SURNAME], [SUBSCRIPTION_ID], [ACTIVE], [INSERT_USER], [INSERT_DATE], [UPDATE_USER], [UPDATE_DATE]) VALUES (11, 2, N'1234567890', N'222', N'MEHMET', N'ÇELİK', 3, 1, N'MSTFZCN', CAST(N'2021-02-24T20:23:44.663' AS DateTime), NULL, NULL)
INSERT [dbo].[SUBSCRIBER] ([SUBSCRIBER_ID], [SUBSCRIBER_TYPE_ID], [IDENTIFICATION_TAX_NUMBER], [USER_PASSWORD], [NAME], [SURNAME], [SUBSCRIPTION_ID], [ACTIVE], [INSERT_USER], [INSERT_DATE], [UPDATE_USER], [UPDATE_DATE]) VALUES (12, 1, N'12345678901', N'000', N'EMRE', N'ÖZTÜRK', 3, 0, N'MSTFZCN', CAST(N'2021-02-24T20:29:41.493' AS DateTime), N'MSTFZCN', CAST(N'2021-02-24T20:30:15.567' AS DateTime))
SET IDENTITY_INSERT [dbo].[SUBSCRIBER] OFF
GO
SET IDENTITY_INSERT [dbo].[SUBSCRIBER_TYPE] ON 

INSERT [dbo].[SUBSCRIBER_TYPE] ([SUBSCRIBER_TYPE_ID], [TYPE_NAME]) VALUES (1, N'Bireysel Müsteri')
INSERT [dbo].[SUBSCRIBER_TYPE] ([SUBSCRIBER_TYPE_ID], [TYPE_NAME]) VALUES (2, N'Tüzel Müsteri')
SET IDENTITY_INSERT [dbo].[SUBSCRIBER_TYPE] OFF
GO
SET IDENTITY_INSERT [dbo].[SUBSCRIPTION] ON 

INSERT [dbo].[SUBSCRIPTION] ([SUBSCRIPTION_ID], [SUBSCRIPTION_TYPE], [FINAL_PAYMENT_DAY], [DEPOSIT], [INSERT_USER], [INSERT_DATE], [UPDATE_USER], [UPDATE_DATE]) VALUES (3, N'Abonelik-1', N'12', 200, N'ADMIN', CAST(N'2021-02-20T16:16:12.960' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[SUBSCRIPTION] OFF
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_SUBSCRIBER] FOREIGN KEY([SUBSCRIBER_ID])
REFERENCES [dbo].[SUBSCRIBER] ([SUBSCRIBER_ID])
GO
ALTER TABLE [dbo].[INVOICE] CHECK CONSTRAINT [FK_INVOICE_SUBSCRIBER]
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_SUBSCRIPTION] FOREIGN KEY([SUBSCRIPTION_ID])
REFERENCES [dbo].[SUBSCRIPTION] ([SUBSCRIPTION_ID])
GO
ALTER TABLE [dbo].[INVOICE] CHECK CONSTRAINT [FK_INVOICE_SUBSCRIPTION]
GO
ALTER TABLE [dbo].[SUBSCRIBER]  WITH CHECK ADD  CONSTRAINT [FK_SUBSCRIBER_SUBSCRIBER_TYPE] FOREIGN KEY([SUBSCRIBER_TYPE_ID])
REFERENCES [dbo].[SUBSCRIBER_TYPE] ([SUBSCRIBER_TYPE_ID])
GO
ALTER TABLE [dbo].[SUBSCRIBER] CHECK CONSTRAINT [FK_SUBSCRIBER_SUBSCRIBER_TYPE]
GO
ALTER TABLE [dbo].[SUBSCRIBER]  WITH CHECK ADD  CONSTRAINT [FK_SUBSCRIBER_SUBSCRIPTION] FOREIGN KEY([SUBSCRIPTION_ID])
REFERENCES [dbo].[SUBSCRIPTION] ([SUBSCRIPTION_ID])
GO
ALTER TABLE [dbo].[SUBSCRIBER] CHECK CONSTRAINT [FK_SUBSCRIBER_SUBSCRIPTION]
GO
/****** Object:  StoredProcedure [dbo].[SP_CLOSE_SUBSCRIPTION]    Script Date: 24.02.2021 21:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CLOSE_SUBSCRIPTION]
	@SUBSCRIBER_ID  INT,
	@UPDATE_USER	NVARCHAR(50)
AS
DECLARE @RESULT_VALUE    INT = 0

BEGIN
	BEGIN TRANSACTION
	BEGIN TRY
		UPDATE [dbo].[INVOICE]
		   SET [PAID] = 1
			  ,[UPDATE_USER] = @UPDATE_USER
			  ,[UPDATE_DATE] = GETDATE()
		 WHERE SUBSCRIBER_ID = @SUBSCRIBER_ID AND
			   PAID = 0;

		UPDATE [dbo].[SUBSCRIBER]
		   SET [ACTIVE] = 0
			  ,[UPDATE_USER] = @UPDATE_USER
			  ,[UPDATE_DATE] = GETDATE()
		 WHERE SUBSCRIBER_ID = @SUBSCRIBER_ID;

		SET @RESULT_VALUE = 1;
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @RESULT_VALUE = 0;
		ROLLBACK TRANSACTION;
	END CATCH

	RETURN @RESULT_VALUE;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ALL_SUBSCRIBER_TYPE]    Script Date: 24.02.2021 21:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_ALL_SUBSCRIBER_TYPE]
AS
BEGIN
	SELECT [SUBSCRIBER_TYPE_ID]
		  ,[TYPE_NAME]
	  FROM [PAYMENT_SYSTEM].[dbo].[SUBSCRIBER_TYPE] WITH(NOLOCK);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ALL_SUBSCRIPTION]    Script Date: 24.02.2021 21:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_ALL_SUBSCRIPTION]
AS
BEGIN
	SELECT [SUBSCRIPTION_ID]
		  ,[SUBSCRIPTION_TYPE]
		  ,[FINAL_PAYMENT_DAY]
		  ,[DEPOSIT]
		  ,[INSERT_USER]
		  ,[INSERT_DATE]
		  ,[UPDATE_USER]
		  ,[UPDATE_DATE]
	  FROM [PAYMENT_SYSTEM].[dbo].[SUBSCRIPTION] WITH(NOLOCK);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_INVOICE_ALL_UNPAID]    Script Date: 24.02.2021 21:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_INVOICE_ALL_UNPAID]
	@SUBSCRIBER_ID  INT
AS
BEGIN
	SELECT I.[INVOICE_ID]
		  ,I.[SUBSCRIBER_ID]
		  ,S.[NAME] + ' ' + S.[SURNAME] AS NAME_SURNAME
		  ,I.[SUBSCRIPTION_ID]
		  ,SS.[SUBSCRIPTION_TYPE]
		  ,I.[INVOICE_AMOUNT]
		  ,I.[CUT_OFF_DATE]
		  ,I.[FINAL_PAYMENT_DATE]
		  ,I.[INSERT_USER]
		  ,I.[INSERT_DATE]
		  ,I.[UPDATE_USER]
		  ,I.[UPDATE_DATE]
	 FROM [dbo].[INVOICE] I WITH(NOLOCK)
LEFT JOIN [dbo].[SUBSCRIBER] S WITH(NOLOCK) ON S.SUBSCRIBER_ID = I.SUBSCRIBER_ID
LEFT JOIN [dbo].[SUBSCRIPTION] SS WITH(NOLOCK) ON SS.SUBSCRIPTION_ID = I.SUBSCRIPTION_ID
	WHERE I.SUBSCRIBER_ID = @SUBSCRIBER_ID AND
	      I.PAID = 0 AND
		  CUT_OFF_DATE < GETDATE();
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_INVOICE_ALL_UNPAID_TOTAL_AMOUNT]    Script Date: 24.02.2021 21:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_INVOICE_ALL_UNPAID_TOTAL_AMOUNT]
	@SUBSCRIBER_ID  INT
AS
BEGIN
	SELECT SUM([INVOICE_AMOUNT]) TOTAL_AMOUNT
	  FROM [dbo].[INVOICE] WITH(NOLOCK)
	 WHERE SUBSCRIBER_ID = @SUBSCRIBER_ID AND
	       PAID = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_INVOICE_OVERDUE_PAYMENTS]    Script Date: 24.02.2021 21:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_INVOICE_OVERDUE_PAYMENTS]
	@SUBSCRIBER_ID  INT
AS
BEGIN
	SELECT [INVOICE_ID]
		  ,[SUBSCRIBER_ID]
		  ,[SUBSCRIPTION_ID]
		  ,[INVOICE_AMOUNT]
		  ,[CUT_OFF_DATE]
		  ,[FINAL_PAYMENT_DATE]
		  ,[INSERT_USER]
		  ,[INSERT_DATE]
		  ,[UPDATE_USER]
		  ,[UPDATE_DATE]
	 FROM [dbo].[INVOICE] WITH(NOLOCK)
	WHERE SUBSCRIBER_ID = @SUBSCRIBER_ID AND
	      PAID = 0 AND
		  CUT_OFF_DATE < GETDATE();
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_INVOICE_PAID]    Script Date: 24.02.2021 21:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_INVOICE_PAID]
	@SUBSCRIBER_ID  INT
AS
BEGIN
	SELECT I.[INVOICE_ID]
		  ,I.[SUBSCRIBER_ID]
		  ,S.[NAME] + ' ' + S.[SURNAME] AS NAME_SURNAME
		  ,I.[SUBSCRIPTION_ID]
		  ,SS.[SUBSCRIPTION_TYPE]
		  ,I.[INVOICE_AMOUNT]
		  ,I.[CUT_OFF_DATE]
		  ,I.[FINAL_PAYMENT_DATE]
		  ,I.[INSERT_USER]
		  ,I.[INSERT_DATE]
		  ,I.[UPDATE_USER]
		  ,I.[UPDATE_DATE]
	 FROM [dbo].[INVOICE] I WITH(NOLOCK)
LEFT JOIN [dbo].[SUBSCRIBER] S WITH(NOLOCK) ON S.SUBSCRIBER_ID = I.SUBSCRIBER_ID
LEFT JOIN [dbo].[SUBSCRIPTION] SS WITH(NOLOCK) ON SS.SUBSCRIPTION_ID = I.SUBSCRIPTION_ID
	WHERE I.SUBSCRIBER_ID = @SUBSCRIBER_ID AND
	      I.PAID = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_USER_OFFICER_CHECK]    Script Date: 24.02.2021 21:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_USER_OFFICER_CHECK]
	@USER_CODE	   NVARCHAR(50),
	@USER_PASSWORD NVARCHAR(50)
AS
BEGIN
	SELECT O.OFFICER_ID,
		   O.USER_CODE,
		   O.NAME,
		   O.SURNAME,
		   O.INSERT_USER,
		   O.INSERT_DATE,
		   O.UPDATE_USER,
		   O.UPDATE_DATE
	  FROM OFFICER O WITH(NOLOCK) 
	 WHERE O.USER_CODE = @USER_CODE AND
	       O.USER_PASSWORD = @USER_PASSWORD AND
		   O.ACTIVE = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_USER_SUBSCRIBER]    Script Date: 24.02.2021 21:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_USER_SUBSCRIBER]
	@IDENTIFICATION_TAX_NUMBER	   NVARCHAR(50)
AS
BEGIN
	SELECT S.SUBSCRIBER_ID,
		   S.NAME,
		   S.SURNAME,
		   S.SUBSCRIBER_TYPE_ID,
		   ST.TYPE_NAME SUBSCRIBER_TYPE_NAME,
		   S.IDENTIFICATION_TAX_NUMBER,
		   S.SUBSCRIPTION_ID,
		   SB.SUBSCRIPTION_TYPE,
		   S.ACTIVE,
		   S.INSERT_USER,
		   S.INSERT_DATE,
		   S.UPDATE_USER,
		   S.UPDATE_DATE
	  FROM SUBSCRIBER S WITH(NOLOCK) 
	  LEFT JOIN SUBSCRIBER_TYPE ST ON ST.SUBSCRIBER_TYPE_ID = S.SUBSCRIBER_TYPE_ID
	  LEFT JOIN SUBSCRIPTION SB ON SB.SUBSCRIPTION_ID = S.SUBSCRIPTION_ID
	 WHERE S.IDENTIFICATION_TAX_NUMBER = @IDENTIFICATION_TAX_NUMBER;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_USER_SUBSCRIBER_CHECK]    Script Date: 24.02.2021 21:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_USER_SUBSCRIBER_CHECK]
	@IDENTIFICATION_TAX_NUMBER	   NVARCHAR(50),
	@USER_PASSWORD				   NVARCHAR(50),
	@SUBSCRIBER_TYPE_ID			   INT
AS
BEGIN
	SELECT S.SUBSCRIBER_ID,
		   S.NAME,
		   S.SURNAME,
		   S.SUBSCRIBER_TYPE_ID,
		   S.IDENTIFICATION_TAX_NUMBER,
		   S.SUBSCRIPTION_ID,
		   S.INSERT_USER,
		   S.INSERT_DATE,
		   S.UPDATE_USER,
		   S.UPDATE_DATE
	  FROM SUBSCRIBER S WITH(NOLOCK) 
	 WHERE S.IDENTIFICATION_TAX_NUMBER = @IDENTIFICATION_TAX_NUMBER AND
	       S.USER_PASSWORD = @USER_PASSWORD AND
		   S.ACTIVE = 1 AND
		   S.SUBSCRIBER_TYPE_ID = @SUBSCRIBER_TYPE_ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_INVOICE]    Script Date: 24.02.2021 21:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_INVOICE]
AS
BEGIN
DECLARE	
	@SUBSCRIBER_ID		  INT,
	@SUBSCRIPTION_ID      INT,
	@FINAL_PAYMENT_DAY	  INT = 10

	DECLARE CURSOR_INVOICE CURSOR FOR

		SELECT S.SUBSCRIBER_ID
			  ,S.SUBSCRIPTION_ID
			  ,SS.FINAL_PAYMENT_DAY
		  FROM SUBSCRIBER S
	 LEFT JOIN SUBSCRIPTION SS ON SS.SUBSCRIPTION_ID = S.SUBSCRIPTION_ID
		 WHERE S.ACTIVE = 1 AND
			   DAY(EOMONTH(GETDATE())) = DAY(GETDATE())

	OPEN CURSOR_INVOICE
	FETCH NEXT FROM CURSOR_INVOICE
	INTO @SUBSCRIBER_ID, @SUBSCRIPTION_ID, @FINAL_PAYMENT_DAY

	WHILE @@FETCH_STATUS = 0
	BEGIN
		IF ((SELECT COUNT(1)
			   FROM INVOICE I WITH(NOLOCK)
			  WHERE I.SUBSCRIBER_ID = @SUBSCRIBER_ID
			    AND FORMAT(I.CUT_OFF_DATE, 'dd/MM/yyyy') = FORMAT(GETDATE(), 'dd/MM/yyyy')) = 0)
		BEGIN
			INSERT INTO [dbo].[INVOICE]
				   ([SUBSCRIBER_ID]
				   ,[SUBSCRIPTION_ID]
				   ,[INVOICE_AMOUNT]
				   ,[CUT_OFF_DATE]
				   ,[FINAL_PAYMENT_DATE]
				   ,[PAID]
				   ,[INSERT_USER]
				   ,[INSERT_DATE]
				   ,[UPDATE_USER]
				   ,[UPDATE_DATE])
			 VALUES
				   (@SUBSCRIBER_ID
				   ,@SUBSCRIPTION_ID
				   ,80
				   ,GETDATE()
				   ,GETDATE() + @FINAL_PAYMENT_DAY 
				   ,0
				   ,'AUTO'
				   ,GETDATE()
				   ,NULL
				   ,NULL);
		END

		FETCH NEXT FROM CURSOR_INVOICE 
		INTO @SUBSCRIBER_ID, @SUBSCRIPTION_ID, @FINAL_PAYMENT_DAY
	END

	CLOSE CURSOR_INVOICE
	DEALLOCATE CURSOR_INVOICE
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_SUBSCRIBER]    Script Date: 24.02.2021 21:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_SUBSCRIBER]
	@SUBSCRIBER_TYPE_ID		   INT,
	@IDENTIFICATION_TAX_NUMBER NVARCHAR(11),
	@USER_PASSWORD	           NVARCHAR(50),
	@NAME					   NVARCHAR(50),
	@SURNAME				   NVARCHAR(50),
	@SUBSCRIPTION_ID	       INT,
	@INSERT_USER			   NVARCHAR(50)
AS
DECLARE @RETURN_VALUE INT = 0

BEGIN
	BEGIN TRY
		IF((SELECT COUNT(1) 
		     FROM SUBSCRIBER WITH(NOLOCK)
			WHERE IDENTIFICATION_TAX_NUMBER = @IDENTIFICATION_TAX_NUMBER) = 0)
		BEGIN
			INSERT INTO [dbo].[SUBSCRIBER]
				   ([SUBSCRIBER_TYPE_ID]
				   ,[IDENTIFICATION_TAX_NUMBER]
				   ,[USER_PASSWORD]
				   ,[NAME]
				   ,[SURNAME]
				   ,[SUBSCRIPTION_ID]
				   ,[ACTIVE]
				   ,[INSERT_USER]
				   ,[INSERT_DATE]
				   ,[UPDATE_USER]
				   ,[UPDATE_DATE])
			 VALUES
				   (@SUBSCRIBER_TYPE_ID
				   ,@IDENTIFICATION_TAX_NUMBER
				   ,@USER_PASSWORD
				   ,@NAME
				   ,@SURNAME
				   ,@SUBSCRIPTION_ID
				   ,1
				   ,@INSERT_USER
				   ,GETDATE()
				   ,NULL
				   ,NULL);

			SET @RETURN_VALUE = 1; --If subscriber registration is successful, the return value is 1
		END
		ELSE
		BEGIN
			SET @RETURN_VALUE = 2; --If the subscriber is present, the return value is 2
		END
	END TRY
	BEGIN CATCH
		SET @RETURN_VALUE = 0; --If the subscriber could not be registered, the return value is 0
	END CATCH

	RETURN @RETURN_VALUE;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_INVOICE_PAY]    Script Date: 24.02.2021 21:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_INVOICE_PAY]
	@INVOICE_ID  INT,
	@UPDATE_USER NVARCHAR(50)
AS
DECLARE @RETURN_VALUE INT = 0

BEGIN
	BEGIN TRY
		UPDATE [dbo].[INVOICE]
		   SET [PAID] = 1
			  ,[UPDATE_USER] = @UPDATE_USER
			  ,[UPDATE_DATE] = GETDATE()
		 WHERE INVOICE_ID = @INVOICE_ID;

		 SET @RETURN_VALUE = 1;
	END TRY
	BEGIN CATCH
		SET @RETURN_VALUE = 0;
	END CATCH

	 RETURN @RETURN_VALUE;
END;
GO
